{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/konva@7.0.0/konva.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="utf-8" />
    <title>Konva Relative Pointer Position Demo</title>
  </head>
  <body>
    <div id="container"></div>
    <script src="{% static 'js/scripts.js' %}" type=text/javascript></script>
    <div id="thesidenav" class="sidenav">
      <a href="#" id="option1">Option1</a>
      <a href="#" id="option2">Option2</a>
      <a href="#" id="option3">Option3</a>
    </div>
  </body>
</html>