body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #080512;
  cursor: url('static/cursor.png')
/* background-color: #0f1018;  */
}

head {
height: 100vh;
cursor: url('static/cursor.png');
}

#thesidenav a {
position: absolute;
left: -80px;
transition: 0.1s;
padding: 15px;
width: 100px;
text-decoration: none;
font-size: 20px;
color: white;
border-radius: 0 5px 5px 0;
font-family: Arial, Helvetica, sans-serif;
}

#thesidenav a:hover {
left: 0; /* On mouse-over, make the elements appear as they should */
background-color: white;
color: black;
}

#square {
top: 20px;
background-color: #000000;
}

#circle {
top: 80px;
background-color: #000000; 
}

#line {
top: 140px;
background-color: #000000; 
}

#delete {
  top: 200px;
  background-color: black;
}