body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    cursor: url('static/cursor.png')
 /* background-color: #0f1018;  */
}
  
head {
  height: 100vh;
  cursor: url('static/cursor.png');
}

#thesidenav a {
  position: absolute;
  left: 0px;
  transition: 0.1s;
  padding: 15px;
  width: 70px;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 0 5px 5px 0;
  font-family: Helvetica, sans-serif;
}
  
#thesidenav a:hover {
  left: 15px; /* On mouse-over, make the elements appear as they should */
  background-color: white;
  color: black;
}

#square {
  top: 20px;
  background-color: #000000;
}
  
#circle {
  top: 80px;
  background-color: #000000; 
}
  
#line {
  top: 140px;
  background-color: #000000; 
}

#delete {
    top: 200px;
    background-color: black;
}